<h1>Medical Equipment Registry</h1>
<% if current_user %>
  <% if current_user.org.name = 'Unassigned' %>
    You need an org, ba
  <% else %>
    <%= link_to "Register Equipment", equipment_index_url%>
  <% end %>

<% end %>
